<div class="weather-container">
    <div class="weather-box">
      <div class="weather-details">
        <div class="weather-detail">
          <img src="http://openweathermap.org/img/wn/{{weatherInformation.weather[0].icon}}.png" alt="Weather Icon" class="weather-icon">
          <ul class="weather-list">
            <li><strong>City:</strong> {{ weatherInformation.name }}</li>
            <li><strong>Country:</strong> {{ weatherInformation.sys.country }}</li>
            <li><strong>Temperature:</strong> {{ weatherInformation.main.temp }}</li>
            <li><strong>Feels Like:</strong> {{ weatherInformation.main.feels_like }}</li>
            <li><strong>Humidity:</strong> {{ weatherInformation.main.humidity }}</li>
            <li><strong>Wind Speed:</strong> {{ weatherInformation.wind.speed }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>