<table class="table table-primary table-striped table-hover col-md-8 mx-auto mt-3">
    <tr>
      <th>mentorId</th>
      <th>mentorName</th>
      <th>status</th>
      <th>specilization</th>
      <th>experience</th>
      <th >Appointtime</th>
    </tr>
    <tr *ngFor="let user of mentor">
   <!---<td>{{user.patientId}}</td>-->
    <td>{{user.mentorId}}</td>
    <td>{{user.mentorName}}</td>
    <td>{{user.status}}</td>
    <td>{{user.specilization}}</td>
    <td>{{user.experience}}</td>
    <td>{{user.Appointtime}}</td>
    <td>
    <!--  <button class="btn btn-outline-danger" (click)="deletescreen(user.)">Delete</button>-->
      &nbsp;&nbsp;
      
      
  </td>
  </table>