
<!doctype html>
<html class="no-js" lang="zxx">
    <head>    
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
		<!-- Header Area -->
		<header class="header" >
			
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="navbar">
    <img src="../../assets/logo.png"  class="logo-container" alt="Your Logo" style="max-width: 100px;">
    <a  href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="finddoctor"><i class="fa fa-users" aria-hidden="true"></i>FindMentor</a>
    
    <a href="weatherdata"><i class="fa fa-cloud"></i>Weather</a>
    <a href="support"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a href="login"><i class="fa fa-fw fa-user"></i> Login</a>
</div>	
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		<!-- Slider Area -->
		<!-- slider.component.html -->
<!-- slider.component.html -->
<!-- slider.component.html -->
<!-- slider.component.html -->
<section class="slider">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

      <!--<div *ngFor="let slide of slides; let i = index" class="single-slider">-->
        <div>   
        </div>
        <img src="../../assets/360_F_108884300_6im7dEu1EFPZL932SeQpk2cYbiRzT4xQ.jpg">
       
        <div class="container3">
          <div class="row">
            <div class="col-lg-7">
            </div>
          </div>
        </div>
      
    
	<div class="buttonSlider">
	
	</div>
  </section>
  <div id="fun-facts" class="fun-facts section overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-home"></i>
                    <div class="content">
                        <span class="counter">346</span>
                        <p>Areas</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-user-alt-3"></i>
                    <div class="content">
                        <span class="counter">537</span>
                        <p>Specialist Mentors</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont-simple-smile"></i>
                    <div class="content">
                        <span class="counter">3889</span>
                        <p>Happy students</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Fun -->
                <div class="single-fun">
                    <i class="icofont icofont-table"></i>
                    <div class="content">
                        <span class="counter">33</span>
                        <p>Years of Experience</p>
                    </div>
                </div>
                <!-- End Single Fun -->
            </div>
        </div>
    </div>
</div>
<!--/ End Fun-facts -->
  <section>
    <div class = "containerfoo">
    <footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="containerfooter">
            <div class="row">
                <div class="AboutUs">
                        <h2>About Us</h2>
                       <!----> <img src="../../assets/Ganesh pic-modified.png"  class="logo-container" alt="Your Logo" style="max-width: 100px;">
                        <p class = "aboutUs">This is a Product student assist system developed by  venkat. We work for our clients and solve Real world problems by our Technical insights and our innovation.
                            You have some real world problem and working on it. we can make your idea in to live by our Technical insights.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    
                        <h2>Quick Links</h2>
                        
                        <div class="col-lg-3">
            
                            <div class="col-lg-3">
                                <ul>
                                    <li><a href="homepage"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>	
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
                                    <li><a href="helpdesk"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                                    <li><a href="helpdesk"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <h2>Open Hours</h2>
                    <div class="OpenHours">
                        <ul align="center">
                            <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
                            <li class="day">Saturday <span>9.00-18.30</span></li>
                            <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="row">                        
                <div class="News">
                        <h2 align="center">Follow us on</h2>
                        
                        <div class="footer1">
                        <a href="https://www.facebook.com/profile.php?id=100008550556079" class="fa fa-facebook"></a>
                       
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-pinterest"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-snapchat-ghost"></a>
<a href="#" class="fa fa-skype"></a>
                        </div>
                    </div>
                    </div>
                    <div>
                        <div class ="copyright">
                    <p class="cp-text">
                        © venkat. All rights reserved.
                    </p></div>
                    </div>
            
</footer>
</div>
</section>
  </body>
</html>